@font-face {
    font-family: "PT Sans";
    src: url(/fonts/ptsans-400.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url(/fonts/ptsans-700.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.main-index-container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Header Styles start */
.main-header {
    display: flex;
    padding: 0 70px 0 70px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.navigation-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}


.navigation-user {
    justify-content: flex-end;
}

.navigation-link {
    padding: 20px 17px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
    color: inherit;
}

.navigation-search {
    width: 42px;
    height: 66px;
    display: block;
    background: url(../images/svg/search.svg) no-repeat center;
}

.navigation-favorite {
    width: 42px;
    height: 66px;
    display: block;
    margin: 0 20px 0 0;
    background: url(../images/svg/favorite.svg) no-repeat center;
}

.navigation-button {
    width: 160px;
    display: block;
    padding: 9px 15px 8px 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    background-color: #756157;
    color: #FFFFFF;
    border-radius: 4px;
}

/* Header styles end */
/* Main styles start */
.main-container {
    flex-grow: 1;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}

.catalog-container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.promo-logo {
    display: block;
    margin: 0 auto;
}

.promo-container {
    background: url(../images/jpg/welcome-background-mountains.jpg) no-repeat #FFFFFF;
    background-size: cover;
    background-color: #000000;
    padding: 52px 0 82px 0;
}

.main-welcome {
    padding: 63px 0 90px 0;
    box-sizing: border-box;
    width: 1200px;
    height: 282px;
}

.welcome-title {
    margin: 0 0 31px 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.welcome-description {
    margin: 0;
    text-align: center;
    color: #333333;
}

.advantages {
    font-size: 18px;
    line-height: 21px;
}

.bg-blue {
    background-color: #82B3D3;
    color: #FFFFFF;
}

.bg-blue .advantages-description {
    color: #FFFFFF
}

.advantages-block {
    width: 400px;
    height: 384px;
    padding: 0 85px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.advantages-title {
    margin: 0 0 30px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.advantages-item {
    display: flex;
}

.advantages-number {
    margin: 0 0 30px 0;
    text-align: center;
}

.advantages-description {
    margin: 0;
    text-align: center;
    color: #333333
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.advantages-cards {
    width: 400px;
    height: 384px;
}

.bg-lightblue {
    background-color: rgba(131, 179, 211, 0.2);
    ;
    color: #000000;
}

.cards-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.cards-description {
    text-align: center;
    color: #333333;
}

.bg-lightgray {
    background-color: #83B3D31F;
    color: #000000;
}

.hotel-search {
    width: 1200px;
    max-height: 417px;
    padding: 90px 0;
}

.hotel-search-title {
    margin: 0 auto 30px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.hotel-search-description {
    margin: 0 auto 56px;
    text-align: center;
    color: #333333;
}

.hotel-search-link {
    display: block;
    margin: 0 auto;
    padding: 12px 15px;
    width: 574px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #756157;
    border-radius: 4px;
}

.subscription {
    width: 1200px;
    padding: 94px 0;
    background: url(../images/jpg/subscription-background-valley.jpg) no-repeat #000000;
    background-size: cover;
    color: #FFFFFF;


}

.subscription-title {
    margin: 0 auto 29px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
}

.subscription-description {
    text-align: center;
    margin: 0 0 46px;
}

.subscription-button {
    width: 200px;
    padding: 12px 15px;
    background-color: #82B3D3;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    border-radius: 0 10px 10px 0;
}

.subscription-form {
    display: flex;
    width: 800px;
    margin: 0 auto;
}

.subscription-input {
    width: 600px;
    height: 60px;
}

/* Main styles end */

/* Footer styles start */
.footer-contacts {
    display: flex;
    width: 1060px;
    padding: 40px 0 30px 0;
    margin: 0 auto;
    justify-content: space-between;
}

.socials-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.socials-icon {
    padding: 12px 15px;
    display: block;
    width: 47px;
    box-sizing: border-box;
}

.socials-vk {
    background: url(../images/svg/vk-logo.svg) no-repeat center;

}

.socials-telegram {
    background: url(../images/svg/telegram-logo.svg) no-repeat center;

}

.socials-youtube {
    background: url(../images/svg/youtube-logo.svg) no-repeat center;
}

.contact-phone {
    align-self: center;
    color: #000000;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
}

.academylink {
    align-self: center;
    width: 115px;
}

/* Footer styles end */

/* Catalog styles */
.filter-header {
    margin: 0 0 40px 0;
}

.filter-header-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
}

.filter-container {
    height: 403px;
    background: url(../images/jpg/welcome-background-mountains.jpg) no-repeat;
    padding: 35px 70px 70px 70px;
}

.catalog-filter {
    display: flex;
}

.catalog-filter-group-infrastructure {
    margin: 0 70px 0 0;
    padding: 0;
    border: 0;
}

.catalog-filter-group-type {
    margin: 0 175px 0 0;
    padding: 0;
    border: 0;
}

.catalog-filter-group-price {
    margin: 0 70px 0 0;
    padding: 0;
    border: 0;
}

.button-submit {
    height: 48px;
    border: 0;
    background-color: #82B3D3;
    color: #FFFFFF;
}

.button-reset {
    height: 48px;
    border: 0;
    background-color: transparent;
    color: #FFFFFF;
}

.catalog-filter-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.filter-hotels {
    display: flex;
    width: 1200px;
}

.breadcrumbs-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

.breadcrumbs-link {
    margin: 0 25px 0 0;
    text-decoration: none;
}

.catalog-filter-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.control {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 21px;
}

.select-control {
    margin: 0 78px 0 0;
    color: #333333;
    background-color: #FFFFFF;
    border: 0;
    width: 290px;
    height: 49px;
    font-size: 18px;
    line-height: 21px;
}

.display-button {
    display: block;
    margin: 0 8px 0 0;
    width: 48px;
    height: 48px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    box-sizing: border-box;
}

.button-table {
    background: url(../images/catalog/svg/icon-table.svg) no-repeat center;
    border: 2px solid #000000;

}

.button-wide {
    background: url(../images/catalog/svg/icon-wide.svg) no-repeat center;
}

.button-list {
    background: url(../images/catalog/svg/icon-list.svg) no-repeat center;
}

.hotel-title-block {
    display: flex;
    padding: 50px 70px 60px;
    align-items: center;
    box-sizing: border-box;
}

.hotel-total {
    margin: 0 191px 0 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    white-space: nowrap;
}

.hotel-catalog-icon {
    display: flex;
}

.hotel-list {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    gap: 0 18px;
    margin-bottom: 96px;
    list-style-type: none;
}

.hotel-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
}

.hotel-card-description {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.hotel-rate {
    color: #333333;
    font-size: 16px;
    line-height: 20px;
}

.pagination-container {
    display: flex;
    padding: 0 73px 0 71px;
    margin: 0 0 25px 0;
}

.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination-item:not(:last-child) {
    margin: 0 8px 0 0;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    padding: 11px 0;
    width: 60px;
    height: 60px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
    background-color: #82B3D3;
}

.pagination-disabled {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    padding: 12px 24px;
    width: 60px;
    height: 60px;
    color: #000000;
    background-color: #F2F2F2;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
}

.pagination-more {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    padding: 12px 24px;
    width: 60px;
    height: 60px;
    border: 0;
    background-color: #82B3D3;
    color: #FFFFFF;
}

.catalog-view {
    margin-left: auto;
    margin-right: 51px;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.select-pagination {
    width: 160px;
    border: 0;
    background-color: #E5E5E5;
}

.small {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.medium {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.all {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.subscription-catalog {
    background: none;
    color: #000000;
}
